// Variables
$website-width: 1280px;
$primary: #f6f2ef;
$green: #c0c8bd;
$pink: #ceb3b8;
$blue: #b7c5c6;
$peach: #ebcfc4;
$dark-grey: #999999;
$light-grey: #c6c6c6;
$shadow: 0px 6px 32px -8px rgba(0, 0, 0, 0.65);

// Functions
// Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return #333;
  } @else {
    @return white;
  }
}

// Mixin

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// Margin & Padding
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  // All around margin
  .m-#{$space} {
    margin: #{$space}rem;
  }

  // Vertical Margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  // All around Padding
  .p-#{$space} {
    padding: #{$space}rem;
  }

  // Vertical Padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
