---
export const prerender = true;
import Layout from "../../layouts/Layout.astro";
// import parse from "rss-to-json";
import LatestEpisode from "../../components/LatestEpisode.astro";
import Pagination from "../../components/Pagination.astro";
import { episodes } from "../../data/episodes";

const { page } = Astro.props;
export async function getStaticPaths({ paginate }) {
  // let rss = await parse("https://anchor.fm/s/1f8af31c/podcast/rss");
  return paginate(episodes, { pageSize: 6 });
}
---

<Layout title="Episodes">
  <section class="episodes-index">
    <h2>Episode List</h2>
    <div class="container">
      <Pagination page={page} />
      <div class="episodes-list">
        {page.data.map((item) => <LatestEpisode episode={item} />)}
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  h2 {
    font-size: 2rem;
    margin: 1.5rem 0;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    color: #999999;
  }
  .episodes-index {
    margin: 2rem 0;
  }
  .episodes-list {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
