---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import gabie from "../images/gabriella.jpeg";
import marcella from "../images/marcella-pod.jpeg";
---

<Layout title="About">
  <section id="about-2">
    <h2 class="title">About Us</h2>
    <div class="container">
      <div class="left">
        <div class="name">
          <h2>Gabie</h2>
          <a target="_blank" href="https://www.instagram.com/gabiepeacock/"
            ><i class="fab fa-instagram"></i></a
          >
        </div>
        <Image class="img" width={290} height={290} src={gabie} alt="" />
      </div>
      <div class="right">
        <p>
          Gabie lives in Southern Nevada with her husband Ryan. Married in 2018,
          Gabie and Ryan have been praying for God to grow their family and heal
          Gabie’s chronic illness. After many years of working as a music and
          child educator, Gabie became a stay at home wife in 2023. In her free
          time, she loves baking with sourdough, reading books of many genres,
          thrifting and content creating. Gabie is passionate about Reformed
          theology, sustainable homemaking, women’s health, and Charlotte Mason.
          She loves cultivating the Y&WU community and encouraging Christian
          women to joyfully embrace their vocations as wives and mothers.
        </p>
      </div>
    </div>
  </section>
  <section id="about-3">
    <div class="container">
      <div class="left">
        <p>
          Marcella and her husband Jed live in Middle TN with their three sons
          Seth (4), Eli (2), and Liam just born in September of 2023. They were
          both originally born and raised in California and made the trek to the
          east side of the country at the beginning of 2023. Marcella is a
          full-time stay at home mom and, since her oldest was an infant, has
          enjoyed recording YAWU to help build a community of young wives who
          have a passion for taking back the art of biblical homemaking. Her
          interests include anything involving the kitchen, natural medicine,
          reading, theology, being a husband lover and a children teacher and
          comforter.
        </p>
      </div>
      <div class="right">
        <div class="name">
          <h2>Marcella</h2>
          <a target="_blank" href="https://www.instagram.com/marcellachatham/"
            ><i class="fab fa-instagram"></i></a
          >
        </div>
        <Image class="img" width={290} height={290} src={marcella} alt="" />
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  #about {
    &-2 {
      .title {
        font-size: 2rem;
        margin: 1.5rem 0;
        text-align: center;
        font-weight: 400;
        font-style: italic;
        color: #999999;
      }
      .container {
        //   border: 2px solid green;
        padding: 2rem 4rem;
        display: flex;
      }
      .left {
        //   border: 2px solid black;
        flex: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .name {
          display: flex;
          margin-bottom: 1rem;
        }
        h2 {
          font-size: 2rem;
          margin-right: 1rem;
        }
        .img {
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
          border: 7px solid #b7c5c6;
          margin-bottom: 1.25rem;
        }
        a {
          font-size: 2rem;
          transition: transform 0.5s ease;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
      .right {
        //   border: 2px solid red;
        flex: 50%;
        display: flex;
        align-items: center;
        padding-right: 3rem;
        p {
          line-height: 1.75;
          font-size: 1.05rem;
        }
      }
    }
    &-3 {
      // margin-bottom: 4rem;
      .container {
        //   border: 2px solid green;
        padding: 2rem 4rem;
        display: flex;
      }
      .right {
        //   border: 2px solid black;
        flex: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .name {
          display: flex;
          margin-bottom: 1rem;
        }
        h2 {
          font-size: 2rem;
          margin-right: 1rem;
        }
        .img {
          border-radius: 50%;
          border: 7px solid #b7c5c6;
          object-position: center;
          object-fit: cover;
          margin-bottom: 1.25rem;
        }
        a {
          font-size: 2rem;
          transition: transform 0.5s ease;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
      .left {
        //   border: 2px solid red;
        flex: 50%;
        display: flex;
        align-items: center;
        padding-left: 3rem;
        p {
          line-height: 1.75;
          font-size: 1.05rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    #about {
      &-2 {
        margin: 0;
        .container {
          flex-direction: column;
          .left {
            .img {
            }
          }
          .right {
            flex: 1;
            padding: 0;
            text-align: center;
          }
        }
      }

      &-3 {
        margin: 0 0 1rem 0;
        .container {
          flex-direction: column-reverse;
          .left {
            padding: 0;
            text-align: center;
            flex: 1;
          }
        }
      }
    }
  }
</style>
