---
import Layout from "../layouts/Layout.astro";

const success = Astro.url.searchParams.get("success");

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const message = data.get("message");
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="Contact">
  <section class="contact">
    <div class="container">
      <h2>Contact Us</h2>
      {
        success ? (
          <div class="success-container">
            <i class="fas fa-check-circle" />
            <h3>Thank you for reaching out.</h3>
          </div>
        ) : (
          <form
            action="/contact?success=true"
            data-netlify="true"
            data-netlify-honeypot="bot-field"
            method="POST"
            class="form-group-container"
          >
            <input style={{ display: "none" }} name="bot-field" />
            <div class="form-group">
              <span>Name/Organization</span>
              <input type="text" name="name" required />
            </div>
            <div class="form-group">
              <span>Email</span>
              <input type="email" name="email" required />
            </div>
            <div class="form-group">
              <span>Message</span>
              <textarea name="message" rows="8" required />
            </div>
            <div class="form-group">
              <input type="submit" value="Submit" />
            </div>
          </form>
        )
      }
    </div>
  </section>
</Layout>

<style lang="scss">
  .success-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    i {
      color: #c0c8bd;
      font-size: 12rem;
      margin-bottom: 2rem;
    }
    h3 {
      font-size: 2rem;
      color: #999999;
    }
  }
  h2 {
    font-size: 2rem;
    margin: 1.5rem 0;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    color: #999999;
  }
  .form-group-container {
    padding: 3rem 2.5rem;
    border-radius: 10px;
    width: 60%;
    margin: 1rem auto 3rem auto;
    @media (max-width: 768px) {
      width: 100%;
      padding: 3rem 0;
    }
    .form-group {
      span {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        display: block;
        color: #676767;
        font-style: italic;
      }
      input[type="text"],
      input[type="email"],
      textarea {
        display: block;
        border: 2px solid #c9c9c9;
        border-radius: 7px;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        font-family: "Raleway", sans-serif;
        color: #424242;
      }
      input[type="submit"] {
        background: #b7c5c6;
        // color: white;
        display: block;
        border: none;
        border-radius: 5px;
        width: 100%;
        padding: 0.75rem;
        font-size: 1.15rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
</style>
