---
import Layout from "../layouts/Layout.astro";
import { parse } from "rss-to-json";
import { createSlug } from "../utilities/tools";

let rss = await parse("https://anchor.fm/s/1f8af31c/podcast/rss");
// console.log({ episode: rss.items[2] });
---

<Layout title="Episodes">
  <main>
    <h1>Episodes Page</h1>
    <ul>
      {
        rss.items.map((item) => (
          <li>
            <a href={`/episodes/${createSlug(item.title)}`}>
              {item.itunes_episode}. {item.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style></style>
