---
import Layout from "../layouts/Layout.astro";
import { parse } from "rss-to-json";
import EpisodesList from "../components/EpisodesList";

let rss = await parse("https://anchor.fm/s/1f8af31c/podcast/rss");
---

<Layout title="Episodes">
  <!-- <section class="episodes-page">
    <div class="container">
      <EpisodesList episodes={rss.items} />
    </div>
  </section> -->
</Layout>

<style lang="scss"></style>
