---
import Header from "../components/Header.jsx";
import Navigation from "../components/Navigation.astro";
import SocialLinks from "../components/SocialLinks.astro";
import Footer from "../components/Footer.astro";

import "../styles/main.scss";
interface Props {
  title?: string;
}

const { title } = Astro.props;
const getTitle = title ? `${title} | Young & Wifed Up` : "Young & Wifed Up";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <script
      src="https://kit.fontawesome.com/27a18b8c60.js"
      crossorigin="anonymous"></script>
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{getTitle}</title>
  </head>
  <body>
    <Header client:load />
    <Navigation />
    <SocialLinks />
    <slot />
    <Footer />
  </body>
</html>

<style lang="scss"></style>
